body{
    margin:0px;

}
 footer{
    padding:20px;
    background-color: darkcyan;
    color:white;
    height:200px;
    display:grid;
    grid-template-columns:30% 50% 20%;
    font-size:20px;
    border-top:10px solid yellowgreen;
    border-bottom:10px solid green;
 }

 #container{
    min-height:500px;
    margin:auto;
    width:80%;
 }
 
 h1{
    color:darkblue;
    font-size: 70px;
    text-align:center;
 }
  
  ul{
    background-image:linear-gradient(to left, darkred, blue, green);
    margin:0px;
    
  }

  ul li{
    display:inline-block;
    padding:18px 35px 18px;

  }

  ul li a{
    color:white;
    font-size:22px;
    text-decoration:none;
  }

  ul li:hover{
    cursor: pointer;
    background-color: green;
  }
  header{
    background-color: chocolate;
    color:white;
    padding:2px 10% 2px;
    display: grid;
    grid-template-columns: 70% 30%;
    position: sticky;
    top:0px;
  }
  .fouritem{
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
  }
  .mypic{
    width:60%;
    height:250px;
    margin:40px !important;
    box-shadow:0px 0px 10px blueviolet;  
  }
  #contact{
    text-align:center;
    color: violet;
    font-size:50px;
  }
  .fouritem p{
    margin:20px;
    padding:20px;
    text-align:left;
    font-size:20px;
    line-height:35px;
    box-shadow:0px 0px 5px gray;
  }
  #login{
    width:400px;
    padding:30px;
    margin:auto;
    box-shadow:0px 10px 20px orange;
    border-radius: 10px;
  }
 #login tr{
  height:55px;

 }
 .smallinput{
  height:30px;
  width:100%;
 }
 button{
  padding:7px 20px 7px;
  background-color: brown;
  color:white;
  font-size:22px;
  cursor: pointer;
  border:0px;
  border-radius:50%;
  margin-top:20px;
 }
 button:hover{
  background-color: blueviolet;
 }
 .bigbox{
  height:70px;
 }
 #myproduct{
  display:grid;
  grid-template-columns: auto auto auto;

 }
 .product{
  margin:40px;
  text-align: center;
 }
 .product img{
  height:150px;
  width:100%;
 }
 .product h3{
  font-size:25px;
  color:orangered;
 }